{% extends "index.html" %}

{% block content %}
<div style="display: flex">
    <img src="https://yastatic.net/s3/lyceum/content/images/second-year/web/MARS-2-7.png" alt="Картинка">
    <h1>Аварийный доступ</h1>
</div>
<form action="" method="post" novalidate>
    {{ form.hidden_tag() }}
    <p>
        {{ form.captain_id.label }}<br>
        {{ form.captain_id(class="form-control") }}<br>
        {% for error in form.captain_id.errors %}
    <div class="alert alert-danger" role="alert">
        {{ error }}
    </div>
    {% endfor %}
    </p>
    <p>
        {{ form.captain_password.label }}<br>
        {{ form.captain_password(class="form-control", type="password") }}<br>
        {% for error in form.captain_password.errors %}
    <div class="alert alert-danger" role="alert">
        {{ error }}
    </div>
    {% endfor %}
    </p>
    <p>
        {{ form.astro_id.label }}<br>
        {{ form.astro_id(class="form-control") }}<br>
        {% for error in form.astro_id.errors %}
    <div class="alert alert-danger" role="alert">
        {{ error }}
    </div>
    {% endfor %}
    </p>
    <p>
        {{ form.asto_password.label }}<br>
        {{ form.asto_password(class="form-control", type="password") }}<br>
        {% for error in form.asto_password.errors %}
    <div class="alert alert-danger" role="alert">
        {{ error }}
    </div>
    {% endfor %}
    </p>
    <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
</form>
{% endblock %}